@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: OpenSans, sans-serif;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.header {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  background-image: url("../images/img/banner-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.header-blocks {
  width: 100%;
  max-width: 1200px;
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
}

.header-block-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image {
  width: 158px;
}

.menu {
  text-transform: uppercase;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.menu-button {
  display: none;
}

.menu-item {
  font-size: 13px;
}

.menu-item:nth-child(n + 2) {
  margin-left: 35px;
}

.menu-link {
  color: #ffffff;
  text-decoration: none;
}

.intro {
  max-width: 687px;
  margin: 125px auto 0 auto;
  font-family: OpenSans, sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 22px;
}

.content {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  margin: 0 auto;
}

.articles {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 125px;
  font-family: OpenSans, sans-serif;
}

.article {
  display: flex;
  align-items: flex-start;
}

.article:nth-child(n + 2) {
  margin-top: 65px;
}

.article-img {
  width: 380px;
  margin-right: 35px;
  background-size: cover;
}

.tag {
  display: inline-block;
  list-style: none;
  font-weight: 700;
  letter-spacing: 1px;
}

.tag:not(:last-child) {
  margin-right: 10px;
}

.tag-link {
  color: #b59f5b;
  text-transform: uppercase;
  text-decoration: none;
}

.article-title {
  font-family: OpenSans, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}

.article-title-link {
  text-decoration: none;
  color: #000000;
}

.article-caption {
  display: flex;
  margin-top: 30px;
  margin-bottom: 45px;
  font-size: 12px;
}

.article-datetime {
  margin-right: 15px;
  color: #888888;
}

.article-author {
  font-family: OpenSans, sans-serif;
  font-weight: 700;
}

.article-text {
  font-size: 15px;
  color: #000000;
}

.article-paragraph {
  margin-bottom: 15px;
}

.sidebar {
  width: 280px;
}

.sidebar-item:not(:first-child) {
  padding-top: 50px;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.sidebar-header-name {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.sidebar-header:after {
  content: "";
  border-bottom: 3px solid #e1d9bd;
  width: 65px;
  margin-top: 15px;
}

.sidebar-article {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-top: 20px;
}

.sidebar-article-block {
  margin-left: 20px;
}

.sidebar-article-img {
  width: 70px;
}

.sidebar-article-date {
  font-size: 12px;
  color: #c6c6c6;
}

.sidebar-article-text {
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.search-form {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.search-box {
  display: block;
  flex: 1;
  border: none;
  padding-left: 20px;
  font-family: inherit;
  background-color: #f4f7f6;
}

.search-button {
  display: block;
  width: 50px;
  height: 50px;
  border: none;
  background-image: url("../images/svg/search.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
  background-color: #b59f5b;
  cursor: pointer;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.newsletter-box {
  display: block;
  padding: 20px;
  border: none;
  font-family: inherit;
  background-color: #f4f7f6;
}

.newsletter-button {
  margin-top: 15px;
}

.primary-button {
  display: block;
  padding: 15px 30px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #b59f5b;
  cursor: pointer;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
}

.tags-item {
  border: 2px solid #eeeeee;
  padding: 5px 10px;
  margin: 5px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  list-style: none;
}

.tags-item-link {
  text-decoration: none;
  color: #000000;
}

.themes {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
}

.theme {
  padding: 10px 0;
  border-bottom: 1px solid #eeeeee;
  font-size: 14px;
  font-weight: 700;
}

.theme-link {
  text-decoration: none;
  color: #000000;
}

.theme-counter {
  color: #b59f5b;
  font-size: 12px;
  vertical-align: top;
  padding-left: 5px;
}

.footer {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.social-block {
  display: flex;
  background-color: #f4f7f6;
}

.social-groups {
  list-style: none;
  margin: 30px auto;
}

.social-group {
  display: inline-block;
}

.social-icon {
  display: block;
  margin-left: 25px;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;
}

.social-icon-twitter {
  background-image: url("../images/svg/004-twitter.svg");
}

.social-icon-pinterest {
  background-image: url("../images/svg/001-pinterest.svg");
}

.social-icon-facebook {
  background-image: url("../images/svg/002-facebook-logo.svg");
}

.social-icon-instagram {
  background-image: url("../images/svg/005-instagram.svg");
}

.social-icon-tumblr {
  background-image: url("../images/svg/003-tumblr.svg");
}

.copyrights-block {
  display: flex;
  align-items: end;
  padding-top: 75px;
  padding-bottom: 40px;
  margin-left: 10%;
  margin-right: 10%;
}

.copyrights-item {
  margin: auto;
  font-family: OpenSans, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  color: #999999;
}

.section {
  margin-top: 64px;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
}

.section-header:after {
  content: "";
  border-bottom: 3px solid #e1d9bd;
  width: 65px;
  margin-top: 15px;
}

.trends {
  display: flex;
}

.trend {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: flex-end;
  width: 25%;
  min-height: 320px;
  padding-bottom: 15px;
}

.trend-1 {
  background-image: url("../images/img/trend1.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
}

.trend-2 {
  background-image: url("../images/img/trend2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
}

.trend-3 {
  background-image: url("../images/img/trend3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
}

.trend-4 {
  background-image: url("../images/img/trend4.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
}

.trend::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.trend-content {
  margin-left: 17px;
  margin-right: 17px;
  padding: 40px 33px 33px;
  border: 3px solid rgba(181, 159, 91, 0.6);
}

.trend-name {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: OpenSans, sans-serif;
}

.trend-link {
  color: #ffffff;
  text-decoration: none;
}

.section-products {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
}

.products {
  display: flex;
  max-width: 1200px;
  justify-content: space-around;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
}

.product-img {
  padding-left: 10px;
  padding-right: 10px;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
}

.product-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-description {
  padding: 55px 20px 20px 20px;
  border: 3px solid rgba(181, 159, 91, 0.6);
  margin-top: -30px;
  flex-grow: 1;
}

.product-name {
  text-transform: uppercase;
  font-size: 20px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: OpenSans, sans-serif;
}

.product-text {
  font-size: 15px;
  color: #0f0d0e;
  font-weight: 400;
  font-family: OpenSans, sans-serif;
}

.product-text-link {
  color: #b59f5b;
  text-decoration: none;
}

.product-old-price {
  margin-bottom: -5px;
  font-size: 14px;
  text-decoration: line-through;
  color: #0f0d0e;
  font-weight: 700;
  font-family: OpenSans, sans-serif;
}

.product-new-price {
  font-size: 20px;
  color: #0f0d0e;
  font-weight: 700;
  font-family: OpenSans, sans-serif;
}

@media (min-width: 641px) and (max-width: 1200px) {
  .logo-image {
    width: 158px;
  }

  .trends {
    flex-wrap: wrap;
  }

  .trend {
    width: 50%;
  }

  .trend-name {
    font-size: 17px;
  }

  .articles {
    margin-left: 35px;
    margin-right: 0;
  }

  .article {
    flex-direction: column;
    padding-right: 35px;
  }

  .article-img {
    width: 100%;
    padding-right: 0;
  }

  .tags {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .article-title {
    font-size: 17px;
  }

  .article-caption {
    margin-top: 40px;
    margin-bottom: 35px;
  }

  .sidebar {
    margin-right: 35px;
  }

  .products {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .product {
    width: 48%;
  }

  .product:nth-child(n + 3) {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .trend {
    width: 50%;
  }

  .menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    align-self: flex-end;
  }

  .menu-list {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 5px;
    border: 8px solid #b59f5b;
    background-color: #ffffff;
  }

  .menu-item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
  }

  .menu-item:nth-child(n + 2) {
    margin-left: 0;
  }

  .menu-link {
    color: #000000;
  }

  .menu-link:hover {
    text-decoration: underline;
  }

  .menu-button-label {
    width: 100%;
    height: 20%;
    margin-top: -0.1em;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
  }

  .menu-button {
    display: block;
    width: 1.4em;
    height: 1em;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 25px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
  }

  .menu-button:before {
    top: 0;
  }

  .menu-button:after {
    bottom: 0;
  }

  .menu-button:before,
  .menu-button:after {
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
  }

  .intro {
    font-size: 40px;
  }
}

@media (max-width: 640px) {
  .header-block-top {
    display: flex;
    flex-direction: column-reverse;
  }

  .logo-image {
    margin-top: 175px;
    width: 100%;
  }

  .menu {
    align-self: flex-end;
  }

  .intro {
    margin-top: 45px;
    margin-bottom: 220px;
    font-size: 18px;
  }

  .trends {
    flex-wrap: wrap;
  }

  .trend {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .trend-name {
    font-size: 16px;
  }

  .content {
    flex-wrap: wrap;
  }

  .articles {
    margin-right: 0;
  }

  .article {
    flex-wrap: wrap;
  }

  .article-img {
    width: 100%;
    padding: 0;
  }

  .tags {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .article-caption {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .sidebar {
    width: 100%;
  }

  .sidebar-header-name {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .products {
    flex-wrap: wrap;
  }

  .product {
    width: 100%;
  }

  .product:nth-child(n + 2) {
    margin-top: 25px;
  }
}

@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
  .trend {
    width: 25%;
  }
}

@media (max-width: 1000px) and (orientation: landscape) {
  .trend {
    width: 50%;
  }
}

@media (max-width: 500px) and (orientation: landscape) {
  .trend {
    width: 100%;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(0, 0, 0, 0.75);
  overflow-y: auto;
  
}

.popup-container {
  margin: auto;
  background-color: #ffffff;
  position: relative;
}

.feedback {
  box-sizing: border-box;
  background-color: #fff;
  color: #222;
  padding: 55px 0;
}

.feedback-content {
  max-width: 390px;
  padding: 0 40px;
  font-family: sans-serif;
}

.feedback-row {
  display: flex;
  flex-direction: column;
}

.feedback-row:nth-child(n + 2) {
  margin-top: 30px;
}

.feedback-checkboxes {
  display: flex;
}

.feedback-label {
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 8px;
  display: block;
}

.feedback-close {
  width: 1.4em;
  height: 1em;
  font-size: 20px;
  position: absolute;
  top: -1.5em;
  right: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  text-indent: -9999px;
  cursor: pointer;
}

.feedback-close:before {
  content: "";
  width: 28px;
  height: 28px;
  border-radius: 5px;
  position: absolute;
  top: -10px;
  left: 0;
  background-image: url("../images/svg/form-x.svg");
  background-size: 28px;
}

.feedback-select {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 38px;
  padding-left: 10px;
  padding-right: 25px;
  border: none;
  margin: 0;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #939594;
  background-color: #f4f7f6;
  background-image: url("../images/svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: center right 5px;
  background-size: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.feedback-textarea:focus,
.feedback-select:focus {
  outline: 1px solid rgb(181, 159, 91);
}

.feedback-checkbox-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.feedback-text-yes {
  margin-right: 35px;
}

.feedback-text-yes::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 5px;
  vertical-align: middle;
  background-image: url("../images/svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 26px;
}

.feedback-checkbox-yes:checked ~ .feedback-text-yes::before {
  background-image: url("../images/svg/form-circle.svg");
}

.feedback-text-no::before {
  content: "";
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 5px;
  vertical-align: middle;
  background-image: url("../images/svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 26px;
}

.feedback-checkbox-no:checked ~ .feedback-text-no::before {
  background-image: url("../images/svg/form-circle.svg");
}

.feedback-textarea {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 20px;
  border: none;
  margin: 0;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #939594;
  background-color: #f4f7f6;
  appearance: none;
}
